div(ng-include='\'partials/navbar\'')

.jumbotron
  h1
    | Hello,

  p.lead
    <img src="images/PracticeLog.gif" alt="Practice Log" />
    br
    | Welcome to your Practice Log.
  p
    a.btn.btn-lg.btn-success(ng-href='#') Splendid!
    
.row.marketing
  div
    h4 there used to be an ng-repeat here

.footer
  p ♥ from the Yeoman team